<ul class="sidenav" id="side-bar">
  <% if current_user %>
    <li>
      <a href="/users/edit">Profile</a>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li>
      <a href="#" class="dropdown-trigger" data-target="teams_side" alignment="left">
        My Teams
        <i class="material-icons right">arrow_drop_down</i>
      </a>

      <ul class="dropdown-content" id="teams_side">
        <% current_user.my_teams.each do |team|  %>
          <li>
            <a href="/<%= team.slug %>"><%= team.slug %></a>
            <li class="divider"></li>
          </li>
        <% end  %>

        <li>
          <a href="#add_team_modal" class="modal-trigger">+ Add Team</a>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>
  <% else %>
    <li>
      <a href="/users/sign_in">Login</a>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li>
      <a href="/users/sign_up">Sign Up</a>
    </li>
    <li>
      <div class="divider"></div>
    </li>
  <% end %>
</ul>